{% extends "home/base.html" %}
{% load status %}

{% block title %}All issues{% endblock %}

{% block content %}
<h1>All issues</h1>
{% if issues.count == 0 %}
<p>There is no issues reported yet.</p>
{% else %}
<div class="list-group">
  {% for issue in issues %}
  <div class="list-group-item">
    <h4 class="list-group-item-heading"><a href="{% url 'issues:details' issue.id %}">{{ issue.title }}</a></h4>
    <p class="list-group-item-text text-muted">{{ issue.author.first_name }} - {{ issue.date_created }}</p>
    <p class="list-group-item-text">{{ issue.tags.all|join:", " }}</p>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
