{% extends "home/base.html" %}
{% load status %}

{% block title %}{{ issue.title }}{% endblock %}

{% block content %}
<h1>{{ issue.title }}</h1>
{% if user == issue.author %}
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'issues:details' issue.id %}">Details</a></li>
  <li><a href="{% url 'issues:images' issue.id %}">Add images</a></li>
</ul>
{% endif %}
<p>Category: {{ issue.category.title }}</p>
<p>Tags: {{ issue.tags.all|join:", " }}</p>
<p>Issue reported by {{ issue.author.first_name }} on {{ issue.date_created }}</p>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for image in issue.image_set.all %}
    <div class="item {% if forloop.first %}active{% endif %}">
      <div class="text-center">
	<img src="{{ image.file.url }}" alt="{{ image.title }}"/>
	</div>
      <div class="carousel-caption">
	{{image.title}}
      </div>
    </div>
    {% endfor %}
  </div>
  
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}
