{% extends "home/base.html" %}
{% load status %}

{% block title %}Send images{% endblock %}

{% block content %}
<h1>Send images on {{ issue.title }}</h1>
{% if user == issue.author %}
<ul class="nav nav-tabs">
  <li><a href="{% url 'issues:details' issue.id %}">Details</a></li>
  <li class="active"><a href="{% url 'issues:images' issue.id %}">Add images</a></li>
</ul>
{% endif %}
<form action="{% url 'issues:images' issue.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  {% for field in form %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    
    {{ field }}
    
    {% if field.errors %}
    <span class="help-block">{{ field.errors }}</span>
    {% endif %}
  </div>
  {% endfor %}
  
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Upload image</button>
  </div>
</form>
{% endblock %}
