{% extends "home/base.html" %}
{% load status %}

{% block title %}My issues{% endblock %}

{% block content %}
<h1>My issues</h1>
{% if issues.count == 0 %}
<p>You didn't report any issues.</p>
{% else %}
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Tags</th>
      <th>Date submitted</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issues %}
    <tr>
      <td><a href="{% url 'issues:details' issue.id %}">{{ issue.title }}</a></td>
      <td>{{ issue.category.title }}</td>
      <td>{{ issue.tags.all|join:", " }}</td>
      <td>{{ issue.date_created }}</td>
      <td>{{ issue.status|status_issue }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
