{% extends "home/base.html" %}
{% load staticfiles form_utils %}

{% block title %}Submit an issue{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static "home/css/select2.min.css" %}">
{% endblock %}

{% block content %}
<h1>Submit an issue</h1>
<form action="{% url 'issues:submit' %}" method="POST">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-5">
      {% render_field form.title %}
    </div>
    <div class="col-md-7">
      {% render_field form.summary %}
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">
      {% render_field form.description %}
    </div>
    <div class="col-md-4">
      {% render_field form.category %}
      {% render_field form.tags %}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      {% render_field form.latitude %}
    </div>
    <div class="col-md-6">
      {% render_field form.longitude %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-12">
      <div class="form-group">
	<button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block extrajs %}
<script src="{% static "home/js/select2.min.js" %}"></script>
<script>
  $(function(){
  $(".select2tags").select2({
  tags: true
  });
  $(".select2select").select2({});
  });
</script>
<script src="{% static 'issues/js/geolocation.js' %}"></script>
<style>
  #map {
  width: 100% !important;
  height: 300px !important;
  }
  .gm-style-iw + div {display: none;}
</style>
{% endblock %}
