{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "home/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "home/css/font-awesome.min.css" %}">
    <title>{% block title %}{% endblock title %} - Find Figam</title>
    {% block extracss %}{% endblock extracss %}
  </head>
  <body>
    
    
    
    <!-- start -->
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">Find Figam</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" style="height: 1px;">
	{% if user.is_authenticated %}
	<ul class="nav navbar-nav">
	  <li><a href="/issue/submit"><span class="fa fa-plus"></span> Submit an issue</a></li>
	  <li><a href="/issue/me"><span class="fa fa-star"></span> My issues</a></li>
	  <li><a href="/issue/all"><span class="fa fa-list"></span> All issues</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/sign-out"><span class="fa fa-sign-out"></span> Sign out</a></li>
	</ul>
	<p class="hidden-xs navbar-text navbar-right">Hello <b>{{ user.first_name }}</b>!</p>
	{% else %}
	<ul class="nav navbar-nav">
	  <li><a href="/issue/submit"><span class="fa fa-plus"></span> Submit an issue</a></li>
	  <li><a href="/issue/me"><span class="fa fa-star"></span> My issues</a></li>
	  <li><a href="/issue/all"><span class="fa fa-list"></span> All issues</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/sign-in"><span class="fa fa-user"></span> Sign in</a></li>
	  <li><a href="/sign-up"><span class="fa fa-user-plus"></span> Sign up</a></li>
	</ul>
	{% endif %}
      </div>
    </div>
    </nav>
  
    <!-- end -->
    <section id="pageContent" style="padding-top:40px;" class="container">
      {% if messages %}
      <div style="margin-top:20px;">
	{% for message in messages %}
	<div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
	{% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock content %}
    </section>
    <script src="{% static "home/js/jquery.min.js" %}"></script>
  <script src="{% static "home/js/bootstrap.min.js" %}"></script>
  {% block extrajs %}{% endblock extrajs %}
  </body>
</html>
