{% load status %}

<h1>Report of the day {{ date_today }}</h1>
<h2>Category {{ category.title }}</h2>
{% if issues.count == 0 %}
<p>There was no issues reported today.</p>
{% else %}
<table>
    <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Tags</th>
      <th>Date submitted</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issues %}
    <tr>
      <td>{{ issue.title }}</td>
      <td>{{ issue.author.email }}</td>
      <td>{{ issue.tags.all|join:", " }}</td>
      <td>{{ issue.date_created }}</td>
      <td>{{ issue.status|status_issue }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

