{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}


{% block content %}
<div class="jumbotron text-center">
  <h1>Report It. They Fix It.</h1>
  <p class="lead">This App provides the citizens with the flexibility to lodge their complaints anywhere and anytime.</p>
  <p><a class="btn btn-lg btn-success" href="{% url 'home:signup' %}">Sign up</a></p>
</div>
{% endblock %}
