{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %}Sign in{% endblock %}


{% block content %}
    <h1>Sign in</h1>
    <form action="{% url 'home:signin' %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>

            {{ field }}

            {% if field.errors %}
                <span class="help-block">{{ field.errors }}</span>
            {% endif %}
        </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
{% endblock %}
