<div class="form-group {% if field.errors %}has-error{% endif %}">
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {{ field }}
  {% if field.errors %}
  <span class="help-block">{{ field.errors }}</span>
  {% endif %}
</div>
